doctype html
html(lang='en')
  head
    title
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')


  body
    .container
      .row
        .col-sm-3
          img(height='350' src='images/pushToPalm.svg')
        .col-sm-7
          img(height='850' src='images/holdingpagephoto.jpg')
        .col-sm-1
          img(height='350' src='images/i2header.svg')
